<%- include('header') -%>
<%- include('mainmenu') -%>
<%- include('newalapanyagform') -%>
<div class="d-flex justify-content-center">
   <input type="submit" class="btn btn-success" href="/alapanyag" value="Mentés" />
   <a class="btn btn-link" href="/alapanyag">Vissza az alapanyagokhoz</a>
</div>
</form>
<%- include('footer') -%>